<!DOCTYPE html>
<html>

<head>

	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
	<script src="/bundle.js"></script>

</head>

<body>  
	<h1 id="welcome">Chat Room</h1>
    <h3>Made by Zheng Xu</h3>
	<div id="popupHolder">

	</div>

	<div id="RegLoginGroup">
		<button id="registerButton">Register</button>
		<button id="loginButton">Login</button>
	</div>
    <button id="logout">Logout</button>

    <div id="ChatHolder">
    </div>
</body>

</html>